{% extends "novel/layout.html" %}

{% block title %}
  Genesis | Bookmarks
{% endblock %}
{% block body %}
<div>
  <a href="{% url 'index'%}">Genesis</a> >> <span>Bookmarks</span>
</div>
<hr>
<div class="index-novels">
  {% for novel in novels %}
    <a  class="mb-2" style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
        <img src="{{novel.image}}" style="display: inline-block; width: 4rem; height: 4rem; aspect-ratio: 1; object-fit: cover;" />
        <div>
          <h6>{{novel.title}}</h6>
          <div>
            <span class="fa fa-star {% if novel.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 2 %} checked {% endif %}"></span>            
            <span class="fa fa-star {% if novel.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 8 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 9 %} checked {% endif %}"></span>
          </div>
        </div>
      </a>
  {% empty %}
    <h3 style="text-align: center;">You have no bookmarks yet.</h3>
  {% endfor %}
</div>
{% endblock %}