{% extends "novel/layout.html" %}


{% block title %}
  Genesis | Home
{% endblock %}


{% block body %}
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <div id="lastest">
    <h3>Lastest: </h3>
    <div>
    {% for novel in lastest %}
      <a  class="mb-2" style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
        <img src="{{novel.image}}" style="display: inline-block; width: 4rem; height: 4rem; aspect-ratio: 1; object-fit: cover;" />
        <div>
          <h6>{{novel.title}}</h6>
          <div>
            <span class="fa fa-star {% if novel.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 2 %} checked {% endif %}"></span>            
            <span class="fa fa-star {% if novel.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 8 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 9 %} checked {% endif %}"></span>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
  <div id="popular">
    <h3>Popular: </h3>
    <div >
    {% for novel in popular %}
      <a class="mb-2" style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
        <img src="{{novel.image}}" style="display: inline-block; width: 4rem; height: 4rem; aspect-ratio: 1; object-fit: cover;" />
        <div>
          <h6>{{novel.title}}</h6>
          <div>
            <span class="fa fa-star {% if novel.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 2 %} checked {% endif %}"></span>            
            <span class="fa fa-star {% if novel.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 8 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 9 %} checked {% endif %}"></span>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
</div>

<div>
  <div>
    <h3 style="text-align: center;">Recent Chapters</h3>
    <hr>
  </div>
  {% for chapter in recent_chapters %}
    <a style="display: flex; font-size: 0.8rem" href="{% url 'chapter' id=chapter.id %}">
      <img src="{{chapter.novel_image_url}}" style="display: inline-block; width: 2.1875rem; height: 2.1875rem; border-radius: 50%; aspect-ratio: 1; object-fit: cover;" />
      <div>
        <h6>{{chapter.novel_name}}</h6>
        <p>{{chapter.title}}</p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}
