{% extends "novel/layout.html" %}
{% load static %}

{% block title %}
{{novel.title}}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
{% if novel.is_author %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <td>
        <a href="{% url 'edit_novel' id=novel.id%}" class="btn btn-primary">
          Edit Novel
        </a>
      </td>
      <td>
        <a  href="{% url 'create_chapter' id=novel.id %}" class="btn btn-primary">
          Add Chapter    
        </a>
      </td>
      <td>
        <a href="{% url 'delete' view='novel' id=novel.id %}" class="btn btn-danger">
          Delete Novel
        </a>
      </td>
    </tr>
  
  </tbody>
</table>
{% endif %}
<div>

</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 2rem; border: 1px solid white; padding: 1rem; border-radius: 15px;">
  <img src="{{novel.image}}" class="images" style="width: 10rem; height: 10rem"/>
  <ul class="list-group list-group-flush" style="width: 99%; height: auto;" >
    <a class="list-group-item" href="{% url 'chapter' id=chapter_id %}" >
        Start Reading
    </a>

    <a class="list-group-item" href="{% url 'chapters' id=novel.id page_nr=1%}">
        Chapter List
    </a>
    
    <a class="list-group-item" id="change">
    {% if bookmark %}
        Remove Bookmark
    {% else %}
        Bookmark
    {% endif %}
    </a>
  </ul>
</div>
<br>
<h1>{{novel.title}}</h1>
<br>

<div  class="tab">
  <button class="tablinks" onclick="openCity(event, 'info')" id="defaultOpen">Info</button>
  <button class="tablinks" onclick="openCity(event, 'details')">Description</button>

  <button class="tablinks" onclick="openCity(event, 'chapters')">Chapters</button>
  <button class="tablinks" onclick="openCity(event, 'comments')">Comments</button>
</div>

<div id="info" class="tabcontent">
  <div>
    <p><strong>Author: </strong>{{novel.author}}</p>
    <p><strong>Status: </strong>{% if novel.status %}Completed{% else %}Ongoing{% endif %}</p>
    <p><strong>Available: </strong>{{novel.num}} chapters</p>
    <p><strong>Date Added: </strong>{{novel.date}}</p>
    <p><strong>Total Views: </strong>{{novel.views}}</p>
    <p><strong>Comments: </strong>{{novel.comments}}</p>
    <p><strong>Total Comments: </strong>{{novel.total_comments}}</p>

  </div>
  <p style="background-color: black;" class="d-grid gap-2 d-md-block">
    <a style="width: 100%;" class="btn" data-bs-toggle="collapse" href="#genres" role="button" aria-expanded="false" aria-controls="genres">
      Genres
    </a>
  </p>
  <div class="collapse" id="genres">
    <div class="card card-body ">
      {% for genre in novel.genres %}
        <a>{{genre}}</a>
      {% endfor %}
    </div>
  </div>
  <p style="background-color: black;" class="d-grid gap-2 d-md-block">
    <a style="width: 100%;" class="btn" data-bs-toggle="collapse" href="#ratings" role="button" aria-expanded="false" aria-controls="ratings">
      Ratings
    </a>
  </p>
  
  <div id="ratings" class="collapse">
  </div>
</div>

<div id="details" class="tabcontent">
    <div>{{novel.description | safe}}</div>
    <button id="show" class="btn ">Show more</button>
</div>

<div id="chapters" class="tabcontent list-group bg-gray">
  {% for chapter in chapters %}
  <a class="list-group-item list-group-item-action" href="{% url 'chapter' id=chapter.id %}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{chapter.title}}</h5>
      <small class="text-body-secondary">{{chapter.date}}</small>
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'chapters' id=novel.id page_nr=1 %}">More Chapters</a>
</div>
<input hidden id="page" name="novel" value="{{novel.id}}" />

<div class="tabcontent" id="comments">
</div>

<script>
  
  const bookmark = document.getElementById('change');
  
  bookmark.addEventListener('click', async() => {
    let response = await fetch("/bookmark/{{novel.id}}");
    let data = await response.json();

    if (data.message === 'Removed') {
      bookmark.innerText = 'Bookmark';
    } else if (data.message === 'Added') {
      bookmark.innerText = 'Remove Bookmark';
    } else {
      alert(data.error);
    }
  });

  document.getElementById('show').addEventListener('click', () => {
    const desc = document.querySelector('.desc-text');
    desc.style.webkitLineClamp = desc.style.webkitLineClamp === '9' ? 'none' : '9';
    desc.style.lineClamp = desc.style.lineClamp === '9' ? 'none' : '9';
    document.getElementById('show').innerText = desc.style.webkitLineClamp === '9' ? 'Show more' : 'Show less';
  });  
</script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="{% static 'novel/comments.js' %}"></script>
<script type="text/babel" src="{% static 'novel/ratings.js' %}"></script>

<script src="{% static 'novel/tabs.js' %}"></script>
{% endblock%}
