{% extends "novel/layout.html" %}
{% load static %}
{% load math_extras %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<div>
  {% for novel in novels %}
      <a class="mb-2" style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
        <img src="{% if novel.novel_image %}{{ novel.novel_image.url }}{% else %}/media/placeholder.png{% endif %}" class="images" />
        <div>
          <h6>{{novel.title}}</h6>
          <div>
            <span class="fa fa-star {% if novel|ratings_calculate > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 2 %} checked {% endif %}"></span>            
            <span class="fa fa-star {% if novel|ratings_calculate > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 8 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel|ratings_calculate > 9 %} checked {% endif %}"></span>
          </div>
        </div>
      </a>
  {% endfor %}
</div>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <a href="{% url 'novels' order=order page_nr=1 %}"><li class="page-item"><span class="page-link">First</span></li></a>
    {% for i in num %}
    <a href="{% url 'novels' order=order page_nr=i%}">
      <li class="{% if current == i%}page-item active {% else %} page-item {% endif %}">
        <span class="page-link">{{i}}
        </span>
        
      </li>
    </a>
    {% endfor %}

    <a href="{% url 'novels' order=order page_nr=last%}"><li class="page-item"><span class="page-link">Last</span></li></a>

  </ul>
</nav>
{% endblock %}
