{% extends "novel/layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<div>
  {% for novel in novels %}
      <a class="mb-2" style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
        <img src="{{novel.image}}" style="display: inline-block; width: 4rem; height: 4rem; aspect-ratio: 1; object-fit: cover;" />
        <div>
          <h6>{{novel.title}}</h6>
          <div>
            <span class="fa fa-star {% if novel.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 2 %} checked {% endif %}"></span>            
            <span class="fa fa-star {% if novel.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if novel.average_rating > 8 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if novel.average_rating > 9 %} checked {% endif %}"></span>
          </div>
        </div>
      </a>
  {% endfor %}
</div>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <a href="{% url 'novels' order=order page_nr=1 %}"><li class="page-item"><span class="page-link">First</span></li></a>
    {% for i in num %}
    <a href="{% url 'novels' order=order page_nr=i%}">
      <li class="{% if current == i%}page-item active {% else %} page-item {% endif %}">
        <span class="page-link">{{i}}
        </span>
        
      </li>
    </a>
    {% endfor %}

    <a href="{% url 'novels' order=order page_nr=last%}"><li class="page-item"><span class="page-link">Last</span></li></a>

  </ul>
</nav>
{% endblock %}
