{% extends "novel/layout.html" %}
{% load static %}

{% block title %}
  Genesis | {{profile_user.username}}
{% endblock %}

{% block body %}
<div>
  <a href="{% url 'index'%}">Genesis</a> >> <span>{{profile_user.username}}</span>
</div>
<hr>

<div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="{{profile_user.image}}" style="width: 7.5rem; height: 7.5rem; border-radius: 50%; aspect-ratio: 1; object-fit: cover;" />
    <h1>{{profile_user.username}}</h1>
  </div>
  <div>
  </div>
</div>
<div style="display: flex;  justify-content: space-between; align-items: center;">
  <div style="display: flex; flex-direction: column;  justify-content: space-between; align-items: center;">
    <p>Member since</p> <p><strong>{{profile_user.date_joined}}</strong></p>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
    <p>Comments</p> <p><strong>{{profile_user.comments|length}}</strong></p>
  </div>
</div>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'overview')" id="defaultOpen">Overview</button>
  <button class="tablinks" onclick="openCity(event, 'novels')">Novels</button>
  <button class="tablinks" onclick="openCity(event, 'comments')">Comments ({{profile_user.comments_count}})</button>
  
</div>

<div id="overview" class="tabcontent">
  <div>
    <div>
      <h3><strong>Personal Information</strong></h3>
      <hr>
      <div style="display: flex; justify-content: space-between;">
        <p>Last Active:</p>
        <p>{{profile_user.last_login}}</p>
        <p></p>        
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p>Birthday:</p>
        <p>{{profile_user.birthday}}</p>
        <p></p>        
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p>Gender:</p>
        <p>{{profile_user.gender}}</p>
        <p></p>        
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p>Location:</p>
        <p>{{profile_user.location}}</p>
        <p></p>        
      </div>


    </div>

    <div>
      <h3><strong>About</strong></h3>
      <hr>
      <p>
        {{profile_user.about}}
      </p>

    </div>
    
    <div>
      <h3><strong>Author Information</strong></h3>
      <hr>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Series:</td>
            <td>{{novels|length}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Total Pageviews:</td>
            <td>{{profile_user.total_views}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Total Series Comments:</td>
            <td>{{profile_user.novel_comments}}</td>
            <td></td>
          </tr>

          <tr>
            <td>Series Followers:</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

<div id="novels" class="tabcontent">
    {% for novel in novels %}
    <a style="display: flex; font-size: 0.8rem" href="{% url 'novel' id=novel.id %}">
      <img src="{{novel.image}}" style="display: inline-block; width: 4rem; height: 4rem; aspect-ratio: 1; object-fit: cover;" />
      <div>
        <h6>{{novel.title}}</h6>
        <div>
          <span class="fa fa-star {% if novel.average_rating > 0 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 1 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 2 %} checked {% endif %}"></span>            
          <span class="fa fa-star {% if novel.average_rating > 3 %} checked {% endif %}" ></span>
          <span class="fa fa-star {% if novel.average_rating > 4 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 5 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 6 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 7 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if novel.average_rating > 8 %} checked {% endif %}" ></span>
          <span class="fa fa-star {% if novel.average_rating > 9 %} checked {% endif %}"></span>
        </div>
      </div>
    </a>
    {% empty %}
      {{profile_user.username}} hasn't written anything
    {% endfor %}
</div>

<div id="comments" class="tabcontent list-group ">
  {% for comment in profile_user.comments %}
  <div class="list-group-item list-group-item-action">

    <div class="d-flex w-100 justify-content-between">
      {% if comment.novel %}
      <a href="{% url 'novel' id=comment.novel.id %}">
        <h5 class="mb-1">{{comment.novel.novel}}</h5>
      </a>
      {% endif %}
      {% if comment.chapter %}
      <a href="{% url 'novel' id=comment.chapter.id %}">
        <h5 class="mb-1">
          {{comment.chapter.novel}}: 
          <strong>{{comment.chapter.chapter}}</strong>
        </h5>
      </a>
      {% endif %}
      {% if is_own_profile %}
        <a href="{% url 'delete_comment' id=comment.id %}"><small style="color: red">Delete</small></a>
      {% else %}
        <small>{{comment.date}}</small>
      {% endif %}
    </div>
    <p class="mb-1">{{comment.comment}}</p>
  </div>
  
  {% empty %}
    {{profile_user.username}} has no comments.
  {% endfor %}
</div>

<script src="{% static 'novel/tabs.js' %}"></script>

{% endblock %}
